body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.jb-box {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    text-align: center;
}

video {
    width: 74.5%;
}

.jb-text {
    position: absolute;
    top: 50%;
    width: 100%;
}

.jb-text p {
    margin-top: -24px;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}

.jb-text .time-zone {
    text-align: center;
    color: #ffffff;
}

.jb-text .time-zone .time {
    font-size: 96px;
}

.jb-text .time-zone .date {
    font-size: 36px;
}

.hidden {
    display: none;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink-effect 1.5s ease-in-out infinite;
}